.nav-bar {
    background-image: linear-gradient(to bottom, #1d1d1b, #e6bc32);
    color: #f3f2ef;
    text-shadow: #333 0.125rem 0.125rem 0.25rem;
    padding: 12px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-list a {
    color: #f3f2ef;
    text-shadow: #333 0.125rem 0.125rem 0.25rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    color: #f3f2ef;
    text-shadow: #333 0.125rem 0.125rem 0.25rem;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

/* Settings for 1080px */

@media (max-width: 1080px) {
    .hamburger {
        display: block;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, #1d1d1b, #e6bc32);

        flex-direction: column;
        align-items: center;
        display: none;
        padding: 1rem 0;
    }

    .nav-list.active { display: flex; }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Left-column-image,
    .Right-column-image {
        width: 80%;
        margin: 1rem auto;
    }
}

/* Mobile settings | media query */

@media (max-width: 750px) {
    .hamburger {
        display: block;
    }

    .nav-list {gap: 1rem;}

    .nav-list a {font-size: 1rem;}

    .Left-column-image,
    .Right-column-image {
        width: 95%;
        margin: 1rem auto;
    }
}