.nav-bar {
    background-image: linear-gradient(to top, #757574, #e6bc32);
    color: #f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    padding: 12px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-List {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-List a {
    color: #f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    color: #f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    cursor: pointer;
}

/* Mobile settings | media query */

@media (max-width: 750px) {
    .hamburger {
        display: block;
    }

    .nav-List {
        position:absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, #757574, #e6bc32);

        flex-direction: column;
        align-items: center;
        display: none;
    }
    .nav-List.active {
        display: flex;
    }
}
