html,
body {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to left, #eebc1a, #4e4d4a);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

.Header {
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 0.625rem;
    color: #f3f2ef;
    text-shadow: #333 0.125rem 0.125rem 0.25rem;
    text-align: center;
    grid-area: header;
}

.game-suggestions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "CS2 Valorant";
    gap: 20px;
    margin-bottom: 20px;
}

.CS2-benchmark {
    grid-area: CS2;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 0.625rem;
    color: #f3f2ef;
    text-shadow: #333 0.125rem 0.125rem 0.25rem;
    padding: 10px;
    text-align: center;
}

.Valorant-benchmark {
    grid-area: Valorant;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 0.625rem;
    color: #f3f2ef;
    text-shadow: #333 0.125rem 0.125rem 0.25rem;
    padding: 10px;
    text-align: center;
}

.CS2-benchmark ul,
.Valorant-benchmark ul {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

.Valorant-benchmark img,
.CS2-benchmark img {
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.playlists-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "left center right"
        "footer footer footer";
    gap: 20px;
}

.playlists-container p {
    font-size: 1.0rem;
    color: #f3f2ef;
    text-shadow: #333 0.0625rem 0.0625rem 0.125rem;
    text-indent: 0.9rem;
    text-align: left;
}

.dynamic-clicking {
    grid-area: left;
}

.tracking {
    grid-area: center;
}

.static-clicking {
    grid-area: right;
}

.dynamic-clicking,
.tracking,
.static-clicking {
    background-color: rgba(10, 10, 10, 0.5);
    color: #f3f2ef;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.dynamic-clicking ul,
.tracking ul,
.static-clicking ul {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

footer {
    margin-top: 2rem;
    padding: 0.625rem;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 0.625rem;
    color: #fcf8f8;
    text-shadow: #333 0.125rem 0.125rem 0.25rem;
    text-indent: 0.625rem;
    text-align: center;
}

a {
    margin: 0.625rem;
    display: block;
    text-indent: 0.9rem;
}

a:link {
    color: #d8ba12;
}

a:visited {
    color: #008015;
}

a:hover {
    color: #20e60e;
}

a:active {
    color: #00ffea;
}

@media (max-width: 1024px) {
    /* This media query is for tablets and smaller devices */

    /* Adjusts the grid layout to be horizontal for smaller devices */

    .Header h1 {
        font-size: 1.30rem;
    }

    .game-suggestions {
        grid-template-columns: 1fr;
        grid-template-areas:
            "CS2"
            "Valorant";
    }

    .playlists-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "left"
            "center"
            "right"
            "footer";
    }

    .dynamic-clicking p,
    .tracking p,
    .static-clicking p {
        font-size: 0.9rem;
    }
}

@media (min-width: 451px) and (max-width: 1024px) {

    /* This media query is for tablets and smaller devices */
    .game-suggestions ul {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    /* This media query is for mobile devices */

    .dynamic-clicking p,
    .tracking p,
    .static-clicking p {
        font-size: 0.7rem;
    }

    .game-suggestions ul {
        font-size: 0.7rem;
    }
}