body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* not quite dialied in on the color scheme yet or the correct page height */
    background-image:linear-gradient(to bottom, #757574, #e6bc32);
    font-family : Arial, sans-serif;
    line-height: 1.25;
}
