
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* not quite dialied in on the color scheme yet or the correct page height */
    background-image:linear-gradient(to bottom, #1d1d1b, #e6bc32);
    font-family : Arial, sans-serif;
    line-height: 1.25;
}

main {
    max-width: 65.5rem;
    margin: 1.25rem auto;
    padding: 0 1.25rem;
}

h1 {
    background-color: rgba(10, 10, 10, 0.5);
    font-size: 1.65rem;
    color:#f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-align:center;
}

.Author-Section-Intro {
    background-color: rgba(10, 10, 10, 0.5);
    font-size: 1.0rem;
    color: #f3f2ef;
    text-shadow: #333 0.0625rem 0.0625rem 0.125rem;
    text-indent: 0.9rem;
    text-align: center;
}
.Getting-Started-Section {
    background-color: rgba(10, 10, 10, 0.5);
    font-size: 1.0rem;
    color: #f3f2ef;
    text-shadow: #333 0.0625rem 0.0625rem 0.125rem;
    text-indent: 0.9rem;
}

.Introduction-Section {
    background-color: rgba(10, 10, 10, 0.5);
    font-size: 1.0rem;
    color: #f3f2ef;
    text-shadow: #333 0.0625rem 0.0625rem 0.125rem;
    text-indent: 0.9rem;
}

.Author-Section-Intro h2 {
    font-size: 1.1rem;
    color:#f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-indent: 0.625rem;
    text-align:center;
}
.Getting-Started-Section h2 {
    font-size: 1.1rem;
    color:#f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-indent: 0.625rem;
    text-align: center;
}

.Introduction-Section h2 {
    font-size: 1.1rem;
    color:#f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-indent: 0.625rem;
    text-align: center;
}

section {
    margin-bottom: 1.25rem;
    padding: 0.625rem;
}

ul {
    list-style-type: circle;
    padding-left: 2.5rem;
    font-size: 1.1rem;
}

li {
    color: #f3f2ef;
    text-shadow: #333 0.0625rem 0.0625rem 0.125rem;
}

/* removed the static image width so it should be more responsive now */

.menu_screenshot {
    width:60%;
    max-width: 100%;
    height: auto;
    border: 0.3rem solid #333;
    border-radius: 50%;
    object-fit: cover;
    transition: transform .3s ease;
    display: block;
    margin: 2rem auto;
}

.menu_screenshot:hover {
    transform: scale(1.05);
}

/* removed the static image width so it should be more responsive now */

.DPI_screenshot {
    width:60%;
    max-width: 100%;
    height: auto;
    border: 0.3rem solid #333;
    border-radius: 50%;
    object-fit: cover;
    transition: transform .3s ease;
    display: block;
    margin: 2rem auto;
}

.DPI_screenshot:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 2rem;
    padding: 0.625rem;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 0.625rem;
    color: #f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-indent: 0.625rem;
    text-align: center;
}

a {
    margin: 0.625rem;
    display: block;
    text-indent: 0.9rem;
}

a:link {
  color: #000280;
}

a:visited {
  color: #008015;
}

a:hover {
  color: #ffd000;
}

a:active {
  color: #00ffea;
}