html {
    min-height: 100%;
    background-image:linear-gradient(to left, #eebc1a, #4e4d4a);
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family : Arial, sans-serif;
    line-height: 1.25;
}

.Header {
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 0.625rem;
    color: #f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-align: center;
    grid-area: header;
}

.why-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "left center right"
    "footer footer footer";
    gap: 20px;
}

.why-container h2 {
    font-size: 1.1rem;
    color:#f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-indent: 0.625rem;
    text-align: center;
}

.why-container p {
    font-size: 1.0rem;
    color: #f3f2ef;
    text-shadow: #333 0.0625rem 0.0625rem 0.125rem;
    text-indent: 0.9rem;
    text-align: left;
    line-height: 2;
}

/* Setup so I can declare the grid areas for the columns */

.Left-column-image
{
    grid-area: left;
}
.Center-column
{
    grid-area: center;
}
.Right-column-image
{
    grid-area: right;
}

.Left-column-image, .Center-column, .Right-column-image {
    background-color: rgba(10, 10, 10, 0.5);
    color: #f3f2ef;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.Left-column-image img,
.Right-column-image img {
    width:100%;
    max-width: 100%;
    height: auto;
    display:block;
    margin: 0 auto;
    border-radius: 10px;
}

footer {
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 0.625rem;
    color: #f3f2ef;
    text-shadow:#333 0.125rem 0.125rem 0.25rem;
    text-align: center;
    padding: 1.25rem;
    margin-top: 1.25rem;
    grid-area: footer;
}

footer h1 {
    font-size: 1.0rem;
    color: #f3f2ef;
    text-shadow: #333 0.0625rem 0.0625rem 0.125rem;
    text-indent: 0.9rem;
    text-align: center;
}

a {
    margin: 0.625rem;
    display: block;
    text-indent: 0.9rem;
}

a:link {
  color: #000280;
}

a:visited {
  color: #008015;
}

a:hover {
  color: #ffd000;
}

a:active {
  color: #00ffea;
}

@media (max-width: 1024px)
/* This media query is for tablets and smaller devices */ {

    /* Adjusts the grid layout to be horizontal for smaller devices */
    .why-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "center"
        "left"
        "right"
        "footer";
    }

    .Center-column h2 {
        font-size: 1rem;
        line-height: 1;
    }

    .Center-column p {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    /* This media query is for mobile devices */
    .Center-column h2 {
        font-size: 0.9rem;
    }

    .Center-column p {
        font-size: 0.7rem;
    }
}