
body {
    /* not quite dialied in on the color scheme yet or the correct page height */
    background-image:linear-gradient(to bottom, #757574, #e6bc32);
    font-family : Arial, sans-serif;
    margin: 20px auto;
    line-height: 1.6;
}
h1 {
    font-size: large;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
}

h2 {
    font-size: medium;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
    margin-top: 30px;
}
h3 {
    font-size: small;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
    margin-top: 10px;
}
.menu_screenshot {
    width:400px;
    border: 5px solid #333;
    border-radius: 10px;
    height: 200px;
}

a {
    color: #0000EE;
    margin: 10px;
}