
body {
    background-image:linear-gradient(to bottom, #d89312, #5a5c5c);
    font-family : Arial, sans-serif;
    margin: 20px;
}
.menu_screenshot {
    width:400px;
    border: 5px solid #333;
    border-radius: 10px;
    height: 200px;
}