
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* not quite dialied in on the color scheme yet or the correct page height */
    background-image:linear-gradient(to bottom, #757574, #e6bc32);
    font-family : Arial, sans-serif;
    line-height: 1.25;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    font-size: 20pt;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
    text-align:center;
}

h2 {
    font-size: 14pt;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
    text-indent: 10px;
}

h3 {
    font-size: 13pt;
    color:#fcf8f8;
    text-shadow:#333 2px 2px 4px;
    text-indent: 10px;
    text-align:center;
}
section {
    margin-bottom: 20px;
    padding: 10px;
}

p {
    font-size: 13pt;
    color: #fcf8f8;
    text-shadow: #333 1px 1px 2px;
    text-indent: 15px;
}

ul {
    list-style-type: circle;
    padding-left: 40px;
    font-size: 14pt;
}

li {
    color: #fcf8f8;
    text-shadow: #333 1px 1px 2px;
}

.menu_screenshot {
    width:300px;
    height: 300px;
    border: 5px solid #333;
    border-radius: 50%;
    object-fit: contain;
    display: block;
    transition: transform .3s ease;
}

.menu_screenshot:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(172, 164, 164, 0.5);
    border-radius: 10px;
    color: #fcf8f8;
    text-indent: 10px;
}

a {
    margin: 10px;
    display: block;
    text-indent: 15px;
}

a:link {
  color: #000280;
}

a:visited {
  color: #008015;
}

a:hover {
  color: #ffd000;
}

a:active {
  color: #00ffea;
}