
body {
    /* not quite dialied in on the color scheme yet or the correct page height */
    background-image:linear-gradient(to bottom, #757574, #e6bc32);
    font-family : Arial, sans-serif;
    margin: 20px auto;
    line-height: 1.6;
}
.menu_screenshot {
    width:400px;
    border: 5px solid #333;
    border-radius: 10px;
    height: 200px;
}