title {
    color: #e6bc32;
    padding: 10px;
    font-family : Arial, sans-serif;
    font-size: 16pt;
}

body {
    /* not quite dialied in on the color scheme yet or the correct page height */
    background-image:linear-gradient(to bottom, #757574, #e6bc32);
    font-family : Arial, sans-serif;
    margin: 20px auto;
    line-height: 1.6;
}
h1 {
    font-size: 14pt;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
}

h2 {
    font-size: 14pt;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
}
h3 {
    font-size: 13pt;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
}
.menu_screenshot {
    width:400px;
    border: 5px solid #333;
    border-radius: 10px;
    height: 200px;
}

a {
    color: #0000EE;
    margin: 10px;
}