
body {
    /* not quite dialied in on the color scheme yet or the correct page height */
    background-image:linear-gradient(to bottom, #757574, #e6bc32);
    font-family : Arial, sans-serif;
    margin: 20px;
    line-height: 1.25;
}

h1 {
    font-size: 20pt;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
}

h2 {
    font-size: 14pt;
    color:#e6bc32;
    text-shadow:#333 2px 2px 4px;
    text-indent: 10px;
}

h3 {
    font-size: 13pt;
    color:#fcf8f8;
    text-shadow:#333 2px 2px 4px;
    text-indent: 10px;
}
section {
    margin-bottom: 20px;
    padding: 10px;
}

p {
    font-size: 13pt;
    color: #fcf8f8;
    text-shadow: #333 1px 1px 2px;
    text-indent: 15px;
}

li {
    font-size: 14pt;
    color: #fcf8f8;
    text-shadow: #333 1px 1px 2px;
    margin-bottom: 5px;
}

ul {
    list-style-type: circle;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 0;
}

.menu_screenshot {
    width:400px;
    border: 5px solid #333;
    border-radius: 10px;
    height: 200px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(172, 164, 164, 0.5);
    border-radius: 10px;
    color: #fcf8f8;
    text-indent: 10px;
}

a {
    color: #0000EE;
    margin: 10px;
    display: block;
    text-indent: 15px;
}
