<nav class="nav-bar">
    <div class="nav-brand">Kovaaks Aim Training Guide</div>
    <button class="hamburger" id="hamburger">&#9776;</button>
    <ul class="nav-list" id="nav-list">
        <li><a href="index.html"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="why.html"><i class="fa-solid fa-comment"></i>Why?</a></li>
        <li><a href="proper-sens.html"><i class="fa-solid fa-sliders"></i>Sensitivity</a></li>
        <li><a href="playlists.html"><i class="fa-solid fa-list"></i>Playlists</a></li>
    </ul>
</nav>