<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kovaaks Aim Training Guide</title>
    <link rel="stylesheet" href="../stylesheet/nav.css">
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-brand">Kovaaks Aim Training Guide</div>
        <button class="hamburger" id="hamburger">&#9776;</button>
        <ul class="nav-List" id="nav-List">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../Other-Pages/why.html">Why listen to me?</a></li>
        </ul>
    </nav>
</body>

</html>